/* 2022-08-09 (karol) */
/* ----------------------------- preload images ----------------------------- */
body::after{
	position:absolute;
	width:0;
	height:0;
	overflow:hidden;
	z-index:-1; /*hide images*/
	content:url('images/sprite.png');
 }

/* -------------------------- end of images preload ------------------------- */
div[data-app="ttsreader"] {
	opacity: 0.8;
}
div[data-app="ttsreader"]:hover {
	opacity: 1;
}

div[data-app="ttsreader"] .ttscontrol {
	display: inline-block;
}
div[data-app="ttsreader"] input.ttscontrol[type="range"] {
	width: 100%;
}
div[data-app="ttsreader"] {
	padding:4px;
	position: fixed;
	top: 200px;
	left: 32px;
	right:auto;
	font-size:14px;
	z-index:200;
}

div[data-app="ttsreader"] .btn.btn--primary {
	border: 1px solid transparent;
	background: #017cad;
	color: #fff;
	text-decoration: none;
	padding: 0 35px;
	height: 40px;
	max-width: 300px;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	min-width: 0;
	font-size:16px;
	outline: none;
	cursor: pointer;
	display: inline-block;
	border-radius: 2rem;
	padding:0 35px;
}
div[data-app="ttsreader"] .tts-panel {
	background-color: #ffffff;
	border:2px solid #007cac;
	padding: 16px;
	color:#212529;
	width:264px;
	margin-top: 2px;
}

@media screen and (max-width:600px) {
	div[data-app="ttsreader"] {
		right: 0;
	}	
}

div[data-app="ttsreader"] div.controls {
	margin-top:4px;
}
div[data-app="ttsreader"] [data-type="playpanel"] div.controls {
	text-align: right;
}

div[data-app="ttsreader"] div.controls button {
	text-align: center;
	cursor: pointer;
}

div[data-app="ttsreader"] button.pulsating {
	-moz-animation-name: flash;
	-o-animation-name: flash;
	-webkit-animation-name: flash;
	animation-name: flash;
	-o-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-o-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-o-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-o-keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}
@-moz-keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}

@-webkit-keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}

@keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}
	25%, 75% {
		opacity: 0;
	}
}

div[data-app="ttsreader"] button[data-action="close"],
div[data-app="ttsreader"] .controls button[data-action="close"] {
	background-color: #cecece;
	border-radius:50%;
	width:24px;
	height:24px;
	text-align: center;
	float: right;
	padding: 0;
	margin: 0;
	line-height: 0;
	border: 1px solid #1e4471;
}
div[data-app="ttsreader"] .controls-row {
	display:table;
	width:80%;
	margin-bottom:8px;
}
div[data-app="ttsreader"] .controls-row label,
div[data-app="ttsreader"] .controls-row input:not([type="range"]),
div[data-app="ttsreader"] .controls-row div {
	display:table-cell;
	vertical-align:middle;
}

div[data-app="ttsreader"] div {
	font-size: 14px;
}

div[data-app="ttsreader"] form select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #dee2e6;
	height:40px;
	font-size:14px;
	color: #58585b;
	outline: none;
	padding: 0 30px 0 8px;
	border-radius: var(--radius);
	background-color: var(--baseBg);
	background-image: url('images/dd-closed.png');
	background-repeat: no-repeat;
	/* background-size: ; */
	background-position-x: right;
	background-position-y: center;
	width: 98%;
}
div[data-app="ttsreader"] form select::after {
	display: inline-block;
	width: 20px;
	height: 40px;
	background-color: pink;
	content:' ';
}

div[data-app="ttsreader"] form select:hover {
	border-color: #00bceb;
}

div[data-app="ttsreader"] form select:active {
	border-color: #00bceb;
}
div[data-app="ttsreader"] form select option {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding-top:4px;
	padding-bottom:4px;
}

  
div[data-app="ttsreader"] form .selgroup {
	position: relative;
	margin-bottom:8px;
}

div[data-app="ttsreader"] .controls button:not([data-action="close"]) {
	font-size:14px;
	padding:4px;
	border: none;
}
div[data-app="ttsreader"] .controls button[data-action="close"] {
	background-color:#eff8fc;
	font-size:14px;
	padding:4px;
	border: 1px  solid #1e4471;
	border-left: none;
}



div[data-app="ttsreader"] .controls button:not([data-action="close"]) {
	background-color: transparent;
}

div[data-app="ttsreader"] .controls button:first-child {
	/* border-left: 1px  solid #1e4471; */
	/* border-top-left-radius: 6px; */
	/* border-bottom-left-radius: 6px; */
}

div[data-app="ttsreader"] .controls button:nth-last-child(2) {
	/* border-top-right-radius: 6px; */
	/* border-bottom-right-radius: 6px; */
}

div[data-app="ttsreader"] .controls button:focus {
	/* color:white; */
	outline: none;
	/* background-color: #1e4471; */
}

/*button#tts-settings .icon {
	font-family: cui-font;
}*/

div.controls button:not([data-action="close"]) {
	/* background-color: #007cac; */
	width: 50px;
	height:40px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: contain;
	color: white;
}

div.controls button span {
	display:none;
}
div[data-app="ttsreader"] button {
	--button-bg-size: 150px 240px;
	--button-bg-size-vertical: 240px 150px;
	--button-bg-size-mobile: 90px 144px;
}

button#tts-prev {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -50px;
	background-position-y: 0px;
}
button#tts-prev:hover {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -100px;
	background-position-y: 0px;
}
button#tts-prev.active {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: 0px;
	background-position-y: 0px;
}

button#tts-play {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -50px;
	background-position-y: -120px;
}
button#tts-play:hover {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -100px;
	background-position-y: -120px;
}
button#tts-play.active {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: 0px;
	background-position-y: -120px;
}

button#tts-next {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -50px;
	background-position-y: -40px;
}
button#tts-next:hover {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -100px;
	background-position-y: -40px;
}
button#tts-next.active {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: 0px;
	background-position-y: -40px;
}

button#tts-pause {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -50px;
	background-position-y: -80px;
}
button#tts-pause:hover {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -100px;
	background-position-y: -80px;
}
button#tts-pause.active {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: 0px;
	background-position-y: -80px;
}

button#tts-cancel {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -50px;
	background-position-y: -200px;
}
button#tts-cancel:hover {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -100px;
	background-position-y: -200px;
}
button#tts-cancel.active {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: 0px;
	background-position-y: -200px;
}

button#tts-settings {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -50px;
	background-position-y: -160px;
}
button#tts-settings:hover {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: -100px;
	background-position-y: -160px;
}
button#tts-settings.active {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-size: var(--button-bg-size);
	background-position-x: 0px;
	background-position-y: -160px;
}
div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] .controls {
	padding-left: 8px;
}

div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] .controls button {
	background-color: #ffffff;
	color:#017CAD;
	font-size:14px;
	padding:4px 20px;
	border: 1px solid #017CAD;
	border-left: none;
}

div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] .controls button:focus, 
div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] .controls button:hover, 
div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] .controls button.active {
	color: #ffffff;
	background-color:#017CAD;
}

div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] .controls button#tts-cancel {
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-image: none;
	width: auto;
	height: 32px;
	border-left: 1px solid #017CAD;
}

div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] .controls button#tts-save {
	background-image: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	width: auto;
	height: 32px;
}

div[data-app="ttsreader"] .controls-row div.cell1 {
	width:20%;
}
div[data-app="ttsreader"] .controls-row div.cell2 {
	width:70%;
}
div[data-app="ttsreader"] .controls-row div.cell3 {
	padding-left: 4px;
	width:10%;
}

/* ------------------------------- input range ------------------------------ */
div[data-app="ttsreader"] input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 0px 0;
}

div[data-app="ttsreader"] input[type=range]:focus {
	-webkit-appearance: none;
	outline: none;
}

div[data-app="ttsreader"] input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 100%;
	height: 8px;
	cursor: e-resize;
	background: #00bceb;
}

div[data-app="ttsreader"] input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 8px;
	border-radius: 12px;
	border: 1px solid #00bceb;
	margin-top: -2px;
	background: white;
	cursor: e-resize;
}

div[data-app="ttsreader"] input[type=range]:focus::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background: #00bceb;
}

div[data-app="ttsreader"] input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: e-resize;	
	background: #00bceb;
}

  div[data-app="ttsreader"] input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	border-radius: 12px;
	border: 1px solid #00bceb;
	margin-bottom: 8px;
	background:#00bceb;
	cursor: e-resize;
}

  div[data-app="ttsreader"] input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: e-resize;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

  div[data-app="ttsreader"] input[type=range]::-ms-fill-lower {
	background: #00bceb;
	border-radius: 0px;
}

  div[data-app="ttsreader"] input[type=range]::-ms-fill-upper {
	background: #00bceb;
	border-radius: 0px;
}

  div[data-app="ttsreader"] input[type=range]::-ms-thumb {
	height: 12px;
	width: 12px;
	border-radius: 12px;
	border: 1px solid #00bceb;
	margin-bottom: 8px;
	background: #00bceb;
	cursor: e-resize;
}

  div[data-app="ttsreader"] input[type=range]:focus::-ms-fill-lower {
	background: #00bceb;
}

  div[data-app="ttsreader"] input[type=range]:focus::-ms-fill-upper {
	background: #00bceb;
}

div[data-app="ttsreader"] .controls-row label.tts-labelch {
	display: inline;
}

.tts-reading {
	background-color: rgb(255, 255, 160);
}
/*
.tts-reading .tts-skip {
	color: red;
	font-style: italic;
}

.tts-reading .tts-skip::before, .tts-reading span[data-text]::before {
	border-bottom: 1px solid red;
	content: "";
	left: 0;
	margin-top: calc(0.125em / 2 * -1);
	position: absolute;
	right: 0;
	top: 50%;
}

.tts-reading span[data-text], .tts-reading span[aria-label] {
	color: red;
	font-style: italic;
}


.tts-reading span[data-text]::after {
	content: attr(data-text);
	text-decoration: none;
	width:auto;
	color: green;
}

.tts-reading span[aria-label]::after {
	content: attr(aria-label);
	text-decoration: none;
	width:auto;
	color: green;
}
*/
span[class*='icon-'] {
	position: relative;
	display: inline-block;
	/*font-family: "cui-font";*/
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	vertical-align: middle;
	text-indent: 0.5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
span.icon-help-alt:before {
	content: none;/*"";*/
}
span.icon-size-16 {
	float: right;
    font-size: 16px;
	cursor: pointer;
	background-image: url('images/help.png');
	background-repeat: no-repeat;
	background-size: contain;
	width:16px;
	height:16px;
}
/* ------------------------------ test for CUI ------------------------------ */
div[data-app="ttsreader"] label.voice {
	width: 100%;
    display: inline-block;
    padding-bottom: 4px;
}

div[data-app="ttsreader"] div.tooltip {
	background:#1d1d1d;
	color:#fff;
	padding:7px;
	border-radius:5px;
	position:absolute;
	min-width:50px;
	max-width:300px;
	display:none;
	z-index:1000;
	font-size:14px;
	text-align: left;
}

.ttshid {
	visibility:hidden !important;
	width:0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	overflow: hidden !important;
}
div[data-app="ttsreader"] sup {
	vertical-align: super;
	font-size: 12px;
}

button#tts-read-aloud {
	font-family: Arial, sans-serif;
	line-height: 28px;
	white-space: break-spaces;
}

/* WAC positioning */

body[data-html="/c/r/weare"] div[data-app="ttsreader"] {
	top:340px;
}

@media (max-width:1253px) {
	body[data-html="/c/r/weare"] div[data-app="ttsreader"] {
		top:340px;
		left: 0;
	}
}

@media (max-width: 768px) {
	body[data-html="/c/r/weare"] div[data-app="ttsreader"] {
		left: auto;
		top: 76px;
		right: 0;
	}
}

div[data-app="ttsreader"] {
	line-height:0;
	padding:0;
}

div[data-app="ttsreader"] .tts-panel{
	line-height:14px;
}
@media (min-width:769px) and (max-width: 950px) {
	body[data-html="/c/r/weare"] div[data-app="ttsreader"] .tts-aloud {
		display:none;
	}
}

/* GEH positioning */
body#wcq div[data-app="ttsreader"] {
	top: 218px;
}

@media (max-width:1300px) {
	body#wcq div[data-app="ttsreader"] {
		left: 14px;
	}
}

@media (max-width:768px) {
	body#wcq div[data-app="ttsreader"] {
		left: auto;
		top: 150px;
		right:0;
	}
}

@media (max-width:600px) {
	body#wcq div[data-app="ttsreader"] {
		left: auto;
		top: 210px;
		right:0;
	}
}

@media (max-width:430px) {
	[data-type="playpanel"] div.controls button:not([data-action="close"]) {
		background-size: var(--button-bg-size-mobile) !important;
		background-repeat: no-repeat;
		width: 30px;
		height:24px;
	}
	button#tts-prev {
		background-position-x: -30px;
		background-position-y: 0px;
	}
	button#tts-prev:hover {
		background-position-x: -60px;
		background-position-y: 0px;
	}
	button#tts-prev.active {
		background-position-x: 0px;
		background-position-y: 0px;
	}
	
	button#tts-play {
		background-position-x: -30px;
		background-position-y: -72px;
	}
	button#tts-play:hover {
		background-position-x: -60px;
		background-position-y: -72px;
	}
	button#tts-play.active {
		background-position-x: 0px;
		background-position-y: -72px;
	}
	
	button#tts-next {
		background-position-x: -30px;
		background-position-y: -24px;
	}
	button#tts-next:hover {
		background-position-x: -60px;
		background-position-y: -24px;
	}
	button#tts-next.active {
		background-position-x: 0px;
		background-position-y: -24px;
	}
	
	button#tts-pause {
		background-position-x: -30px;
		background-position-y: -48px;
	}
	button#tts-pause:hover {
		background-position-x: -60px;
		background-position-y: -48px;
	}
	button#tts-pause.active {
		background-position-x: 0px;
		background-position-y: -48px;
	}
	
	button#tts-cancel {
		background-position-x: -30px;
		background-position-y: -120px;
	}
	button#tts-cancel:hover {
		background-position-x: -60px;
		background-position-y: -120px;
	}
	button#tts-cancel.active {
		background-position-x: 0px;
		background-position-y: -120px;
	}
	
	button#tts-settings {
		background-position-x: -30px;
		background-position-y: -96px;
	}
	button#tts-settings:hover {
		background-position-x: -60px;
		background-position-y: -96px;
	}
	button#tts-settings.active {
		background-position-x: 0px;
		background-position-y: -96px;
	}

	div[data-app="ttsreader"] .tts-panel {
		width: 80%;
		padding: 4px;
		margin: 0 0 0 auto;
	}
	button#tts-read-aloud {
		font-size:14px;
		line-height: 18px;
		height:32px;
		padding: 0 16px;
	}
	
}
/* vertical playpanel */

@media (min-width:768px) and (max-width: 1253px) {
	body[data-html="/c/r/weare"] div[data-app="ttsreader"].vertical {
		left: 8px;
	}
}

[data-type="playpanel"].vertical {
	width: 40px;
}

[data-type="playpanel"].vertical div.controls button:not([data-action="close"]) {
	background-image: url('images/sprite-vertical.png') !important;
	background-size: var(--button-bg-size-vertical) !important;
	background-repeat: no-repeat;
	width: 40px;
	height:50px;
}

[data-type="playpanel"].vertical div.controls button#tts-prev {
	background-position-x: -200px;
	background-position-y: -50px;
}
[data-type="playpanel"].vertical div.controls button#tts-prev:hover {
	background-position-x: -200px;
	background-position-y: -100px;
}
[data-type="playpanel"].vertical div.controls button#tts-prev.active {
	background-position-x: 200px;
	background-position-y: 0px;
}

[data-type="playpanel"].vertical div.controls button#tts-play {
	background-position-x: -80px;
	background-position-y: -50px;
}
[data-type="playpanel"].vertical div.controls button#tts-play:hover {
	background-position-x: -80px;
	background-position-y: -100px;
}
[data-type="playpanel"].vertical div.controls button#tts-play.active {
	background-position-x: -80px;
	background-position-y: 0px;
}

[data-type="playpanel"].vertical div.controls button#tts-next {
	background-position-x: -160px;
	background-position-y: -50px;
}
[data-type="playpanel"].vertical div.controls button#tts-next:hover {
	background-position-x: -160px;
	background-position-y: -100px;
}
[data-type="playpanel"].vertical div.controls button#tts-next.active {
	background-position-x: -160px;
	background-position-y: 0px;
}

[data-type="playpanel"].vertical div.controls button#tts-pause {
	background-position-x: -120px;
	background-position-y: -50px;
}
[data-type="playpanel"].vertical div.controls button#tts-pause:hover {
	background-position-x: -120px;
	background-position-y: -100px;
}
[data-type="playpanel"].vertical div.controls button#tts-pause.active {
	background-position-x: -120px;
	background-position-y: 0px;
}

[data-type="playpanel"].vertical div.controls button#tts-cancel {
	background-position-x: 0px;
	background-position-y: -50px;
}
[data-type="playpanel"].vertical div.controls button#tts-cancel:hover {
	background-position-x: 0px;
	background-position-y: -100px;
}
[data-type="playpanel"].vertical div.controls button#tts-cancel.active {
	background-position-x: 0px;
	background-position-y: 0px;
}

[data-type="playpanel"].vertical div.controls button#tts-settings {
	background-position-x: -40px;
	background-position-y: -50px;
}
[data-type="playpanel"].vertical div.controls button#tts-settings:hover {
	background-position-x: -40px;
	background-position-y: -100px;
}
[data-type="playpanel"].vertical div.controls button#tts-settings.active {
	background-position-x: -40px;
	background-position-y: 0px;
}

@media (max-width:308px) {
	[data-type="playpanel"].vertical div.controls button:not([data-action="close"]) {
		width: 24px;
		height: 24px;

	}
}
@media (min-width:768px) {
	div[data-app="ttsreader"] {
		
	}
}
div[data-app="ttsreader"].tts-vertical .tts-panel {
	position: absolute;
	left: 40px;
	bottom:0;
}

@media (max-width:768px) {
	div[data-app="ttsreader"] .tts-panel[data-type="setpanel"] {
		position:static;
	}
}
