/*!* DM Team - Generic Image Component v1.2 */.dmc-img,.dmc-img *{box-sizing:border-box}
.dmc-img{width:100%}
.dmc-img,.dmc-img img{border-radius:15px}
.dmc-img.square,.dmc-img.square img{border-radius:0}
.dmc-img img{margin:0;padding:0;width:100%}
.dmc-img .cq-image-placeholder{height:73px}
.dmc-img .lightbox-link{position:relative}
.dmc-img .caption{padding:0 20px;margin-top:10px}
.dmc-img.image img{display:block}
.dmc-img.no-image .dm-img,.dmc-img.no-image .image-link-icon,.dmc-img.no-image .caption{display:none}
.dmc-img.image{overflow:hidden}
.cdc-transform .container.grid .col .dmc-img.base-blowout{width:calc(100% - -32px)}
.cdc-transform .container.grid .col .base-blowout .dmc-img.base-blowout,.fwt-satellite .container.grid .col .base-blowout .dmc-img.base-blowout{width:100%}
.cdc-transform .container.grid .col .dmc-focus-carousel .dmc-img.base-blowout{margin-left:0;margin-right:0;width:100%}
.cdc-transform .dmc-focus-carousel[data-nav='true'] .dmc-img.base-blowout{padding-left:10px;padding-right:10px}
.row.full.limited-blowout.image-gallery,.image-gallery .row.halves.limited-blowout{box-shadow:none}
.container.grid .row.full.image-gallery{margin:0 20px 30px}
.container.grid .row.full.image-gallery.compact{margin-bottom:0}
.dmc-blade.image-gallery .blade-header{padding:0}
.row.full.image-gallery .row.halves .col.half{margin:0}
.row.full.image-gallery .row.halves .col.half .col.half:first-child{margin-right:1px}
.row.full.image-gallery .row.halves .col.half .col.half:last-child{margin-left:1px}
.image-gallery .row.halves .col.half .row.halves{clear:both;display:inline-block;width:100%}
.image-gallery .row.halves .col.half .row.halves .col.half{float:left;width:calc(50% - 1px)}
.container.grid .image-gallery .dmc-img{margin-bottom:2px;overflow:hidden}
.container.grid .image-gallery .dmc-img img{display:block;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;transition:.5s ease-in-out}
.no-touch .container.grid .image-gallery .dmc-img:hover{overflow:hidden}
.no-touch .container.grid .image-gallery .dmc-img:hover img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05)}
.cdc-transform .container.grid .row.full.image-gallery{padding:0}
.cdc-transform .container.grid .row.full.image-gallery .col{margin:0;width:100%}
.cdc-transform .container.grid .image-gallery .col .dmc-img.base-blowout{margin-right:0;margin-left:0;width:100%}
html[dir='rtl'] .image-gallery .row.halves .col.half .row.halves .col.half{float:right}
html[dir='rtl'] #fw-content .row.full.image-gallery .row.halves .col.half .col.half:first-child{margin-left:1px;margin-right:0}
html[dir='rtl'] #fw-content .row.full.image-gallery .row.halves .col.half .col.half:last-child{margin-right:1px;margin-left:0}
@media only screen and (min-width:37.5em){.dmc-img.image img,.dmc-img.no-image .dm-img,.dmc-img.no-image .image-link-icon,.dmc-img.no-image .caption,.dmc-img .lightbox-link{display:block}
.cdc-transform .container.grid .col .dmc-img.base-blowout{width:100%}
.cdc-transform .dmc-focus-carousel[data-nav='true'] .dmc-img.base-blowout{padding-left:0;padding-right:0}
.dmc-blade.image-gallery .blade-header{padding:0 20px}
.row.full.limited-blowout.image-gallery{margin:0}
.row.full.image-gallery .row.halves .col.half:last-child{margin-left:2px}
.container.grid .row.full.image-gallery{margin:0 auto 50px}
html[dir='rtl'] .container.grid .row.full.image-gallery .row.halves .col.half:first-child{margin:0}
html[dir='rtl'] .container.grid .row.full.image-gallery .row.halves .col.half:last-child{margin-left:0;margin-right:2px}
}
@media only screen and (min-width:48em){.dmc-img .caption{margin-top:16px}
.container.grid .row.full.image-gallery{margin:0 auto 60px}
html[dir='rtl'] .cdc-transform #fw-content.container.grid .row.full.image-gallery .row.halves>.col.half:first-child{margin:0}
html[dir='rtl'] .cdc-transform #fw-content.container.grid .row.full.image-gallery .row.halves>.col.half:last-child{margin-left:0;margin-right:2px}
}
@media only screen and (min-width:64em){.cdc-transform #fw-content .row.full.image-gallery .row.halves .col.half:first-child{margin:0 1px 0 0}
.cdc-transform #fw-content .row.full.image-gallery .row.halves .col.half:last-child{margin:0 0 0 1px}
html[dir="rtl"] .cdc-transform #fw-content .row.full.image-gallery .row.halves .col.half:first-child{margin:0 0 0 1px}
html[dir="rtl"] .cdc-transform #fw-content .row.full.image-gallery .row.halves .col.half:last-child{margin:0 1px 0 0}
}