@charset "utf-8";
/* CSS Document */
/* 2020-02-12 fix for list font size */
#fw-content .dmc-text li,
#fw-content .dmc-tl li { font-size: 18px;margin-bottom: .600em;}
/* end of fix */
.dmr ul li {font-size: 16px !important;} 
.dmr ul li a {font-weight:300 !important;}
.dmr li, .dmr li a {font-size: 16px !important; font-weight:300 !important;}
.dmc-table table td .dmr li {font-size: 16px !important;} 
.dmc-table table td .dmr li a {font-size: 16px !important; font-weight:300 !important;}
/*Fix IE issues where nested flex container doesn't adjust it's height propertly after contained image is scaled down to fit into horizontal space*/ 
.ie .container.grid .row > .col { display: block; }


/* Desktop display of inline CEC article images */
.float-left-image, .flexible-float-left {  margin:0 25px 17px 0; max-width: 411px; float: left; padding: 4px; }
.flexible-float-right {  margin:0 0 17px 25px; max-width: 411px; float: right; padding: 4px; }
.float-left-image img, .flexible-float-left img, .flexible-float-right img {  max-width: 411px; }

.half-page {  max-width: 50%; margin-right:25px; }
.half-page img {  max-width: 100%; }

.quarter-page-left {  width: 100%; max-width: 230px; margin:0 25px 17px 0; float: left; padding: 4px; }
.quarter-page-left img {  max-width: 100%; }

/* Rule overrides for mobile display of inline CEC article images */
/* (Normal page layout) */
@media only screen and (max-width: 800px) {
	.float-left-image {  
		width: 100%; float: none; margin-right:0;
	}
	.float-left-image img {  
		width: 100%;
	}
	.quarter-page-left {  
		max-width:unset; width:100%; float:none; margin-right:0; margin-left:0;
	}
}
/* (New, flexible, multi-column-enabled page layout) */
@media only screen and (max-width: 1164px) {
	.flexible-float-left, .flexible-float-right, .half-page {  
		max-width:unset; width:100%; float:none; margin-right:0; margin-left:0;
	}
	.flexible-float-left img, .flexible-float-right img, .half-page img {  
		max-width:unset; width: 100%;
	}
	.dmr ul {  width:100% !important; }
}


.custom-font a {
    font-weight: 300 !important;
}



/* Homepage Sidebar (RC) content */
/*********************************/

h3.rc {
    color: #000;
    font-size: 28px;
    line-height: 1.286em;
    margin:7px 0 16px;
    font-weight: 100;
}
.img-circular-quote {
  width: 100px;
  height: 100px;
  margin:0 20px 5px 28%;
  vertical-align:top;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  display: inline-block;
  border: 5px solid #d6d6d6;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
@media only screen and (max-width: 599px), (min-width: 950px) and (max-width:1023px), (min-width:1270px) {
    div.rc-text-description {  width: calc(100% - 140px); }
    .img-circular-quote {  margin:0 20px 5px 0; }
}
.img-circular-quote.article-inline {  margin:0 20px 17px 0 !important; }

.dmr blockquote {  margin-bottom:20px; }
.dmr .quotation {
  font-size: 20px !important;  font-style: italic !important;  margin: 0 auto !important;  quotes: "\201C""\201D""\2018""\2019";  padding: 10px 20px 10px 10px !important;  line-height: 1.4 !important;
}
.dmr .quotation:before {
  content: open-quote;  display: inline;  height: 0;  line-height: 0;  left: -7px;  position: relative;  top: 20px;  color: #ccc;  font-size: 3em;
}
.dmr .quotation::after {
  content: close-quote;  display: inline;  height: 0;  line-height: 0;  left: 0px;  position: relative;  top: 25px;  color: #ccc;  font-size: 3em;
}
.dmr blockquote footer {
  margin:0 !important;  text-align: right !important;  font-size: 1em !important;  font-style: italic !important;
}
.dmr .quotation .bold {  font-weight:800 !important; color:#62be3a !important; }

.dmr blockquote.rc {  margin-bottom:0 !important; }
.dmr blockquote.rc .quotation {
  font-size: 17px !important;  padding:0 0 10px !important;
}
.dmr blockquote.rc footer {
  font-size: 15px !important;
}

/* MYC Link Font Size */
.dmr .cecCalendarContentLink {font-size: 14px !important;} 