.standfirst {
    background-color: #f2fbfd;
}
.standfirst hr:first-child {
    margin-top: 0;
}
.standfirst .standfirst-header {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 15px;
}
.standfirst-items {
    padding: 10px 20px 20px 20px;
    margin-left: 35px;
    list-style: disc;
}    
.standfirst-items .standfirst-item {
    font-size: 15px !important;
    line-height: 1.4em;
    font-weight: 300;
    margin-bottom: 10px;
}

/* Added hotfix */
.standfirst h6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 15px;
}